.field-validation-error {
    color: red
}

#phone-number-error {
    color: red
}
.delete-address {
    position: absolute;
    bottom: 15px 
}

.delete-address button {
    color: red ;
    border-color: red 
}

#password-error {
    color: red
}

.input-validation-error {
    border-color: red !important;
}

.sellers .card-body {
    display: flex;
    align-items: baseline;
    font-size: 15px;
}

.seller-item {
    font-size: 17px;
}

.seller-item {
    flex: 1;
    text-align: left;
}

.shop-name {
    text-align: right;
    font-weight: bold;
}

.seller-item.add-to-cart {
    flex: 2;
}