.field-validation-error {
    color: red
}

#phone-number-error {
    color: red
}
.delete-address {
    position: absolute;
    bottom: 15px 
}

.delete-address button {
    color: red ;
    border-color: red 
}

#password-error {
    color: red
}

.input-validation-error {
    border-color: red !important;
}

