@using EXShop.RazorPage.Services.Users
@using EXShop.RazorPage.Infrastructure
@inject IUserService _userservice;
@{
    var CUser = await _userservice.GetCurrentUser();
}

<div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar">
    <div class="sidebar-widget">
        <div class="profile-sidebar shadow-around">
            <div class="d-flex align-items-center">
                <div class="profile-avatar">
                    <img src="@SiteSettings.ServerPath/images/users/avatars/@CUser?.UserAvatar" alt="avatar">
                </div>
                <div class="profile-info">
                    <div class="d-block">
                        <h6><strong>@CUser?.Name @CUser?.Family</strong></h6>
                    </div>
                    <div class="d-block">
                        <strong class="text-muted">@CUser?.PhoneNumber</strong>
                    </div>
                </div>
            </div>
            <div class="user-options">
                <ul>
                    <li>
                        <a href="#">
                            <span>کیف پول</span>
                            <span>
                                2,500,000 <span class="text-info font-weight-bold">تومان</span>
                            </span>
                        </a>
                    </li>
                    <li>
                       
                    </li>
                </ul>
            </div>
            <div class="user-menu">
                <ul>
                    <li>
                        <a href="#">
                            <i class="far fa-clipboard-list-check"></i>
                            سفارش های من
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-comment-alt-lines"></i>
                            نظرات
                        </a>
                    </li>
                    <li>
                        <a href="/profile/Addresses">
                            <i class="far fa-map-marked"></i>
                            نشانی ها
                        </a>
                    </li>
                    <li>
                        <a href="/profile/ChangePassword">
                            <i class="far fa-envelope"></i>
                            تغییر کلمه عبور
                        </a>
                    </li>
                    <li>
                        <a href="/Profile/Edit">
                            <i class="far fa-user-cog"></i>
                            ویرایش حساب
                        </a>
                    </li>
                    <li>
                        <a href="/Auth/Logout">
                            <i class="far fa-sign-in-alt"></i>
                            خروج
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
