@page
@model EXShop.RazorPage.Pages.Admin.Slider.AddModel
@{
    ViewData["Title"] = "افزودن اسلایدر";
    ViewData["selected"] = "sliders";
}

<form method="post" class="card" enctype="multipart/form-data">
    <div class="row card-body">
        <div class="col-md-6">
            @Html.EditorFor(a=>a.Title)
        </div>
        <div class="col-md-6">
            @Html.EditorFor(a=>a.Url)
        </div>
        <div class="col-md-6">
            @Html.EditorFor(a=>a.ImageFile)
        </div>
    </div>
    <div class="card-footer text-left">
        <button class="btn btn-success" type="submit">ثبت اطلاعات</button>
    </div>
</form>
